html, body {
  height: 100%;
  margin: 0;
  padding: 0%;
}

/*Nav menu CSS*/
.topnav {
  background-color: #f7f7f5;
  overflow: hidden;

}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: bold 15px Comfortaa ;
  color: #778899;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #a29686;
  color: white;
}

/*Main body CSS*/

#mainbody {
  background-color: #f7f7f5;
  position: relative;
  height: 100%;
}

#map {
  height: 90%;
  width: 100%;
  position: relative;
  float:right;
}

#description {
  font-family: Comfortaa;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Comfortaa;
}
#pac-input{
  margin: 10px 10px;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Comfortaa;
  font-size: 13px;
  font-weight: 300;
}

.sidebar{
  position: relative;
  float:left;
  width: 14%;
  padding: 5px 8px;
  left: 0px;
  text-align: center;

}

.sidebar p{
  text-align: center;
  font: bold 15px Comfortaa ;

}

/* Search result CSS */
#pac-input {
  font-family: Comfortaa;
}
