<!DOCTYPE html>
<html>
<head>
  <title>AlParca</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./main.css">
  <script type="text/javascript" src = "./main.js"/>
  <script s_src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

</head>
<body>

  <!--Top Menu -->
  <div class = "topnav" id = "navbar">
    <ul>
      <a href="index.html">AlParker</a>
      <a href="news.asp">About Us</a>
      <a href="contact.asp">Contact</a>
      <a href="about.asp">Support Us</a>
    </ul>
  </div>

  <!--Main body -->
  <div class="mainbody" id="mainbody" style="height:100%; width:100%;">
    <input id="pac-input" class = "interact" type="text" placeholder="Destination">
    <!--Map-->
    <div class = "map" id="map">
    </div>
  </div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFq9B3920UjRlpxJOBqSm720kIa7qkjAM&libraries=places&callback=initAutocomplete"
          type="text/javascript"></script>

</body>
</html>

